@import "../css/header";
@import "../css/main";
@import "../css/footer";
@import "../css/card";

* {
    margin: 0 auto;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.page {
    flex-grow: 1    
}
